body {
	background: repeating-linear-gradient(
		45deg,
		#ffb74d,
		#ffb74d 10px,
		#ef6c00 10px,
		#ef6c00 20px
	);
}

#content {
	margin-top: 15px;
	margin-bottom: 15px;
}

table {
	width: 90%;
	border-collapse: collapse;
	padding: 0px;
	margin: 0 0;
}

tr {
	border-collapse: collapse;
	border-radius: 0px;
	padding: 0px;
	margin: 0 0;
}

td {
	width: 5vmin;
	height: 5vmin;

	min-width: 25px;
	min-height: 25px;

	display: inline-block;
	padding: 0px;
	margin: 0 0;

	border: 1px solid #ef6c00;
	border-radius: 0px;
	border-collapse: collapse;
}

#game-board input {
	margin: 0 0;
	padding: 0px;

	width: 100%;
	height: 100%;

	font-size: 2.5vh;
	text-align: center;
	border: none;
	border-radius: 0px;
}


#game-board input.shown {
	background-color: #ffb74d;
}

#game-board input:focus {
	border: none;
	box-shadow: none;
	border-radius: 0px;
}

#game-board input:active {
	border: none;
	box-shadow: none;
	border-radius: 0px;
}

#sidebar {
	height: 70vh;
	overflow-y: auto;
}

#search-results {
	height: 60vh;
	overflow-y: auto;
}

input.orange-text.text-darken-3:focus, input.orange-text.text-darken-3:active {
    border-bottom: 1px solid #ef6c00;
	box-shadow: 0 1px 0 0 #ef6c00;
}

.clickable {
	cursor: pointer;
}
